/* Global styles */

Body, html {
    font-size: 16px;
    padding: 0;
    Margin: 0;
    font-family: "luckiest guy";
}

/* Nav bar */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #261A40;
    color: #D925CD;
    font-size: 1rem;
    width: 100%;
    height: 3.125rem;
    align-items: center;
    position: fixed;
    z-index: 1;
}


.header ul {
    list-style: none;
}

.header li {
    display: inline;
    color:#D925CD;
}

.title {
    align-content: center;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: 800;
}

button {
    height: 2.5rem;
    width: auto;
    color: #261A40;
    background-color: #D925CD;
    border-radius: 15px;
    padding: 0 1rem;
    letter-spacing: .25rem;
    font-size: 1rem;
    font-family: "luckiest guy";
    /*add in hover states */
}

button:hover {
    background-color:#6A44F2;
    color: #D925CD;
}

button:active {
    background-color: #261A40;
    color: #D92BAB;
    box-shadow: inset 1px 3px ;
}

@media screen and (max-width: 1000px)
{
    .header {
        justify-content: space-between;
    }

    button {
        display: none;
    }

    .header a {
        color:#D925CD
    }

    .header li {
        font-size: .75rem;
        margin: .5rem;
    }

    .title {
        font-size: 1rem;
    }

    .nav-buttons {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .nav-links {
       display: none;
    }
}

.main-content {
    position: relative;
    top: 3.125rem;
}

.footer {
    position: relative;
    top: 3.125rem;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #6A44F2;
    color: #261A40;
    margin-top: 20%;
    position: absolute;
}

/* Karaoke Bars */

.locations-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    background-color: #D925CD;
    padding-bottom: 5%;
    overflow: hidden;
}

.locations-container h3 {
    color: #261A40;
    font-size: 2.5rem;
}

.locations-header {
    width: 100%;
    text-align: center;
}

.show-bar, .syng, .aloha {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #261A40;
    color:#D925CD;
    height: 30rem;
    width: 33%;
    letter-spacing: .02rem;
}

.show-bar-info, .syng-info, .aloha-info {
    display: flex;
    flex-direction: column;
    background-color: #261A40;
    height:60%;
    width: 60%;
    margin: auto;
    padding: 1rem;
}

.show-bar {
    display: flex;
    background-image: url(./Show.jpg);
    background-size: cover;
}

.syng {
    display: flex;
    background-image: url(./Syng.jpg);
    background-size: cover;
}

.aloha {
    display: flex;
    background-image: url(./Aloha.jpeg);
    background-size: cover;
}

@media screen and (max-width: 1000px) {
    .show-bar, .syng, .aloha {
        width: 100%;
    }

    .show-bar-info, .syng-info, .aloha-info {
        width: 30%;
    }
}

/* image gallery */

.gallery {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #2A1F73;
    height: 18.75rem;
    padding: 2rem 0;
}

@media screen and (max-width: 1000px) {
    .gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}

/* meetups */

.meetup {
    display: flex;
    flex-direction: column;
    background-color: #2A1F73;
    padding-left: 1rem;
    color: #D925CD;
    font-size: 1.5rem;
}

.meetup a {
    color: white;
}

@media screen and (max-width: 1000px) {
    .meetup {
        word-spacing: 5px;
    }
}

/* beginner friendly section */

.setlist {
    display: flex;
    flex-direction: column;
    background-color: #D92BAB;
    color:#261A40;
    padding: 1rem;
}

@media screen and (max-width: 1000px) {
    .setlist {
        word-spacing: 5px;
    }
}


.footer {
    display: flex;
    background-color: #D92BAB;
    color: #261A40;
}